
header {
    background: mediumpurple;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    height: 200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGO */
.caixa img {
    width: 250px;
    height: auto;
    position: relative;
    right: 280px;
}

/* ÁREA DOS TEXTOS */
.texto {
    text-align: center;
    width: 100%;
}

/* NOME DA ESCOLA */
.texto h1 {
    font-size: 28px;
    margin: 0 0 10px 0;
}

/* ENSINO */
.texto h2 {
    font-size: 20px;
    margin: 5px 0;
}

/* ENDEREÇO E CONTATO */
.texto h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0;
}
	