
header {
    padding: 20px 0;
    background: linear-gradient(
        90deg,
        #3F9F87 0%,
        #5799D8 100%
    );
}

.caixa {
    position: relative;
    width: 940px;
    height: 200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGO */
.caixa img {
    width: 250px;
    height: auto;
    position: relative;
    right: 280px;
}
.ficha1{
    text-align: center;
}



/* ÁREA DOS TEXTOS */
.texto {
    text-align: center;
    width: 100%;
}

/* NOME DA ESCOLA */
.texto h1 {
    font-size: 28px;
    margin: 0 0 10px 0;
}

/* ENSINO */
.texto h2 {
    font-size: 20px;
    margin: 5px 0;
}

/* ENDEREÇO E CONTATO */
.texto h3 {
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0;
}
    
.termos-sub{
  font-weight: 600;
  color:#333;
}

.opcoes label{
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: white;
    color: dark;
    font-weight: black;
    font-size: 18px;
    border-color: black;
    border-radius: 10px;
    /*transition: 5s background ;*/
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: #C0C0C0;
    transform: scale(1.02);
}

footer{
    text-align: center;
    background: url("imagens//bg.jpg");
    padding: 20px 0;
}

footer p{
   color: white;
}
/*=========================================== PAG-CONFIRMACAO ================================================================================*/

.confirmado {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 50px;
    background-color: #fff;
    border: 3px solid #6a0dad; /* borda roxa */
}

.check-icon {
    font-size: 60px;
    color: #2ecc71; /* verde */
    border: 3px solid #2ecc71;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

h1 {
    color: #222;
    margin-bottom: 10px;
}

p {
    color: #555;
    margin-bottom: 30px;
}

a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}